fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
alembic
pydantic
pydantic-settings
email-validator
python-dotenv
httpx
python-jose
python-multipart
passlib==1.7.4
bcrypt==4.0.1
sib-api-v3-sdk
jinja2
slowapi
redis
qrcode[pil]
Pillow
PyOTP
sentry-sdk[fastapi]
structlog
prometheus-client
fastapi-cache2
authlib
httpx
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapipyotp==2.9.0
